.gsc-heading{
	display: block;
	width: 100%;
	@include clearfix();
	.heading-video{
		margin-bottom: 38px;
		.video-link{
			display: inline-block;
			font-size: 24px;
			color: $white;
			background: $theme-color;   
			text-align: center;
			position: relative;
			@include transition(all 0.35s);
			border-radius: 8px;
			&::before{
			  	position: absolute;
			  	content: '';
			  	left: 0;
			  	top: 0;
			  	height: 100%;
			  	width: 100%;
			  	border: 1px solid #fff;
			  	opacity: 0;
			  	border-radius: 8px;
			  	@include animation(pulse-border-2 1.5s linear infinite);
			}
			&::after{
			  	position: absolute;
			  	content: '';
			  	left: 0;
			  	top: 0;
			  	height: 100%;
			  	width: 100%;
			  	border: 1px solid #fff;
			  	opacity: 0;
			  	border-radius: 8px;
			  	@include animation(pulse-border 1s linear infinite);
			}
			&:hover{
				@include scale(0.9);
			}
		}
	}
	.title{
		font-size: 45px;
		position: relative;
		margin: 0;
		strong{
			color: $theme-color;
		}
	}
	.sub-title{
		position: relative;
		display: block;
		font-size: 20px;
		font-weight: 600;
		line-height: 30px;
		.tagline{
         border-bottom: 2px solid #D4D4D4;
         display: inline-block;
         line-height: 18px;
		}
      .heading-icon{
         margin-right: 18px;
         position: relative;
         top: -10px;
         line-height: 1;
         img{
            max-width: 39px;
            @media(max-width: 1024px){
               max-width: 29px;
            }
         }
      }
      .heading-icon-right{
         margin-left: 18px;
         position: relative;
         top: -10px;
         img{
            max-width: 39px;
            transform: rotateY(-180deg);
            @media(max-width: 1024px){
               max-width: 29px;
            }
         }
      }
	} 
	.title-desc{
		ul{
			margin-bottom: 0;
			padding: 0;
			> li{
				position: relative;
				padding-left: 22px;
				list-style: none;
				padding-bottom: 6px;
				&:before{
					content: '';
					@include size(10px, 10px);
					background: $theme-color;
					position: absolute;
					top: 11px;
					left: 0;
					z-index: 1;
				}
				&:last-child{
					padding-bottom: 0;
				}
			}
		}
		p{
			margin-bottom: 0;
		}
	}
	.heading-action{
		margin-top: 30px;
		@include media-breakpoint-down(md){
			margin-top: 20px;
		}
	}
	&.align-center{
		text-align: center;
		.content-inner{
			margin: 0 auto;
		}
	}
	&.align-left{
		text-align: left;
		.title-icon{
			padding-left: 50px;
		}
	}
	&.align-right{
		text-align: right;
		.title-desc{
			float: right;
			width: 100%;
			text-align: right;      
		}
		.title-icon{
			padding-right: 50px;
		}
	}
	&.box-align-center{
		.content-inner{
			margin: 0 auto;
		}
	}
	&.box-align-left{
		.content-inner{
	 
		}
	}
	&.box-align-right{
		.content-inner{
			float: right;
		}
	}
	&.auto-responsive{
	  	&.style-1{
			.title{
				@include media-breakpoint-down(xl){
					font-size: 39px;
				}
				@include media-breakpoint-down(lg){
					font-size: 34px;
				}
				@include media-breakpoint-down(md){
					font-size: 30px;
				}
				@include media-breakpoint-down(sm){
					font-size: 28px;
				}
			}
	  	}
  	}
  	&.style-2{
  		.content-inner{
  			padding-bottom: 15px;
  			.heading-line{
  				position: absolute;
  				bottom: 0;
  				left: 0;
  			}
  			.sub-title{
  				font-size: 18px;
  				text-transform: none;
  				letter-spacing: 0;
  				margin-bottom: 10px;
  			}
  			.title{
  				position: relative;
            color: $black;
            font-family: $headings-font-family;
            z-index: 9;
            margin: 0 0 20px;
            padding: 0 0 20px;
            font-size: 20px;
            font-weight: 800;
            text-transform: uppercase;
            &:after{
               content: '';
               position: absolute;
               width: 56px;
               height: 8px;
               bottom: 0; 
               left: 0;
               background: url('#{$image-theme-path-base}line.png');
               background-repeat: no-repeat;
               background-position: center center;
               z-index: 11;
            } 
  			}
  		}
  	}
  	&.style-3{
  		.content-inner{
         .heading-line{
  				position: absolute;
  				bottom: 0;
  				left: 0;
  			}
  			.sub-title{
  				font-size: 16px;
  				text-transform: none;
  				letter-spacing: 0;
  				margin-bottom: 10px;
  			}
  			.title{
  				font-size: 18px;
  				font-weight: 700;
  				line-height: 30px;
  				margin: 0;
  			}
  		}
  	}
} 